.wrap-geo{
    
    overflow: hidden;
    position: relative;
    .geo-cont{
        position: absolute;
        top: 0;
        left: 0;
        width: 65%;
        height: 100%;
        background-image: url(../img/shar-t1.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 0%;

        .geo-item1{
            background-image: url(../img/shar-1kryg.png);
            width: 110px;
            height: 110px;
        }
        .geo-item2{
            background-image: url(../img/shar-2kryg.png);
            width: 165px;
            height: 165px;
        }
    }
}