@charset "UTF-8";
/* main.scss */
.top_block__logo {
  z-index: 1;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}

.top_block__logo span {
  margin-left: 4px;
}

.shar-t1.wrap-geo {
  position: relative;
}

.shar-t1.wrap-geo .geo-cont {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background-image: url(../img/shar-t1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 50%;
  background-position-x: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media only screen and (max-width: 992px) {
  .shar-t1.wrap-geo .geo-cont {
    width: 99%;
  }
}

.shar-t1.wrap-geo .geo-cont .geo-cont-wrap {
  padding-top: 282px;
  width: 220px;
  margin-right: 2vw;
}

@media only screen and (max-width: 1800px) {
  .shar-t1.wrap-geo .geo-cont .geo-cont-wrap {
    margin-right: 1vw;
  }
}

@media only screen and (max-width: 1500px) {
  .shar-t1.wrap-geo .geo-cont .geo-cont-wrap {
    margin-right: -1vw;
  }
}

@media only screen and (max-width: 992px) {
  .shar-t1.wrap-geo .geo-cont .geo-cont-wrap {
    padding-top: 148px;
    margin-right: 9vw;
  }
}

.shar-t1.wrap-geo .geo-cont .geo-item1 {
  background-image: url(../img/shar-1kryg.png);
  width: 110px;
  height: 110px;
}

@media only screen and (max-width: 767px) {
  .shar-t1.wrap-geo .geo-cont .geo-item1 {
    display: none;
  }
}

.shar-t1.wrap-geo .geo-cont .geo-item2 {
  background-image: url(../img/shar-2kryg.png);
  width: 165px;
  height: 165px;
  margin-top: 33px;
  margin-left: auto;
}

@media only screen and (max-width: 992px) {
  .shar-t1.wrap-geo .geo-cont .geo-item2 {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .shar-t1.wrap-geo .geo-cont .geo-item2 {
    display: none;
  }
}

.shar-t1.wrap-geo .es1_doors {
  overflow: visible;
}

.shar-t1.wrap-geo .b-top__zamer {
  position: absolute;
  bottom: -63px;
  right: -5px;
  color: #fff;
}

@media only screen and (max-width: 992px) {
  .shar-t1.wrap-geo .b-top__zamer {
    bottom: 163px;
    right: 49px;
  }
}

@media only screen and (max-width: 767px) {
  .shar-t1.wrap-geo .b-top__zamer {
    position: static;
    margin-bottom: 0px;
    margin: 21px auto 0;
  }
}

.shar-t1.wrap-geo .b-top__zamer .b-top__zamer_ruler {
  background-image: url(../img/kalcylator.png);
  width: 63px;
  height: 75px;
  margin-left: 9px;
  margin-top: -4px;
}

.shar-t1.wrap-geo .b-top__zamer .b-top__zamer_txt {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}

.shar-t1.wrap-geo .b-top__zamer .b-top__zamer_txt span {
  font-size: 28px;
  line-height: 34px;
}

@media only screen and (max-width: 767px) {
  .shar-t1.wrap-geo .b-top__zamer .b-top__zamer_txt span {
    font-size: 25px;
    line-height: 26px;
  }
}

.shar-t1.wrap-geo .skidka-7day-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 767px) {
  .shar-t1.wrap-geo .skidka-7day-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.shar-t1.wrap-geo .skidka-7day-wrapper .skidka-7day {
  background-repeat: no-repeat;
  background-image: url(../img/skidka-7day-bg.png);
  width: 246px;
  height: 65px;
  font-weight: bold;
  color: #000000;
  padding-left: 21px;
}

@media only screen and (max-width: 767px) {
  .shar-t1.wrap-geo .skidka-7day-wrapper .skidka-7day {
    width: 230px;
  }
}

.shar-t1.wrap-geo .skidka-7day-wrapper .skidka-7day div {
  font-size: 36px;
  line-height: 44px;
}

@media only screen and (max-width: 767px) {
  .shar-t1.wrap-geo .skidka-7day-wrapper .skidka-7day div {
    font-size: 32px;
    line-height: 41px;
  }
}

.shar-t1.wrap-geo .skidka-7day-wrapper .skidka-7day p {
  font-size: 18.5px;
  line-height: 1;
}

.shar-t1.wrap-geo .skidka-7day-wrapper > p {
  color: #fff;
  font-weight: bold;
  font-size: 144px;
  line-height: 0.71;
  -webkit-transform: translateX(-52px);
          transform: translateX(-52px);
}

@media only screen and (max-width: 767px) {
  .shar-t1.wrap-geo .skidka-7day-wrapper > p {
    font-size: 100px;
    -webkit-transform: translateX(-41px);
            transform: translateX(-41px);
  }
}

.wrap-geo.shar-t1 h1 {
  font-size: 50px;
  line-height: 61px;
  color: #fff;
  margin-top: 19px;
  margin-bottom: 38px;
  color: #FFFFFF;
}

@media only screen and (max-width: 767px) {
  .wrap-geo.shar-t1 h1 {
    font-size: 41px;
    line-height: 50px;
    margin-bottom: 11px;
  }
}

@media only screen and (max-width: 767px) {
  .wrap-geo.shar-t1 .es1-menu-wrapper {
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 767px) {
  .wrap-geo.shar-t1 .flex-item {
    width: 280px;
    margin: 5px auto;
  }
}

@media only screen and (max-width: 767px) {
  .wrap-geo.shar-t1 .b-top__zamer {
    width: 342px;
    height: 70px;
  }
}

.win-inst {
  margin-bottom: 40px;
}

.win-inst .container {
  background-image: url(../img/bg-i.png);
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-size: contain;
}

@media only screen and (max-width: 750px) {
  .win-inst .container {
    background-size: cover;
    background-position-x: 30%;
  }
}

.win-inst .wrap-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-right: 30%;
  padding-top: 40px;
}

@media only screen and (max-width: 1200px) {
  .win-inst .wrap-flex {
    padding-right: 0;
  }
}

.win-inst .h2 {
  text-align: left;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 40px;
}

.win-inst .h2 span {
  color: #DD0053;
}

.win-inst .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ECECEC;
  border-radius: 34px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  max-width: 362px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  padding-right: 20px;
  margin-right: 30px;
}

@media only screen and (max-width: 992px) {
  .win-inst .item {
    margin-right: 15px;
    max-width: 332px;
  }
}

@media only screen and (max-width: 750px) {
  .win-inst .item {
    max-width: 370px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 370px;
            flex: 0 0 370px;
  }
}

.win-inst .item > div {
  background-color: #FBC035;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 68px;
          flex: 0 0 68px;
}

.win-inst .item > div img {
  height: 60px;
  width: 60px;
}

.win-inst .item p {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.bg-temp-1 {
  background-image: url(../img/i-bg-temp-1.png);
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-color: #c9edfd;
}

.bg-temp-1 .container {
  background-image: none;
}

.win-profil {
  background: #EDEDED;
  padding-top: 40px;
  margin-bottom: 40px;
  padding-bottom: 5px;
}

.win-profil .h3 {
  background-image: url("../img/kyp-prof-bg.png");
  min-width: 166px;
  height: 53px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 13px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1px;
  margin-bottom: 0;
}

.win-profil .flex-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.win-profil .flex-wrap .item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 363px;
          flex: 0 0 363px;
  max-width: 363px;
  margin: 0 20px 40px;
  text-align: center;
}

.win-profil .flex-wrap .item p {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-top: 12px;
  color: #000000;
}

.win-profil .flex-wrap .item p span {
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  color: #E21F69;
}

.win-profil .flex-wrap .item .star {
  margin-top: 15px;
}

.old-chena {
  /*.h3{
        width: 100%;
        padding-bottom: 0;
        margin-bottom: 13px;
        height: 40px;
        border-radius: 20px;
        background: linear-gradient(180deg, #FFD054 0%, #F2AD27 76.19%);
        position: relative;
        &::before{
            content: "";
            position: absolute;
            bottom: -12px;
            left: 50%;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 12px 11px 0 11px;
            border-color: #F2AD27 transparent transparent transparent;
        }
    }*/
}

.old-chena .flex-item {
  display: -ms-grid;
  display: grid;
  grid-gap: 13px;
  -ms-grid-rows: 40px 263px auto;
      grid-template-rows: 40px 263px auto;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.old-chena .block-price {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.old-chena .flex-block {
  margin-bottom: 40px;
}

.center-menu {
  background-color: #fff;
}

.center-menu .flex-wrapper {
  padding-left: 10px;
  padding-right: 10px;
  background: #EDEDED;
  border-radius: 5px;
}

.center-menu .flex-wrapper .item {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.center-menu .flex-wrapper .item:before {
  background-repeat: no-repeat;
  background-position-x: center;
  -webkit-transform: scale(1.13);
          transform: scale(1.13);
}

.center-menu .flex-wrapper .item:nth-child(1):before {
  background-image: url(../img/center-menu-1.png);
}

.center-menu .flex-wrapper .item:nth-child(2):before {
  background-image: url(../img/center-menu-2.png);
}

.center-menu .flex-wrapper .item:nth-child(3):before {
  background-image: url(../img/center-menu-3.png);
}

.center-menu .flex-wrapper .item:nth-child(4):before {
  background-image: url(../img/center-menu-4.png);
}

.wrap-geo.shar-t2 .es1_doors.es1 {
  background: url(../img/bg-temp-2.png) center top no-repeat;
  background-size: cover;
  overflow: visible;
}

.wrap-geo.shar-t2 .es1_doors.es1::after {
  display: none;
}

.wrap-geo.shar-t2 .es1_doors.es1 h1 {
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #FFFFFF;
  padding-bottom: 30px;
}

.wrap-geo.shar-t2 .es1_doors.es1 h1 span {
  font-size: 72px;
  line-height: 78px;
  color: #FBC035;
}

.wrap-geo.shar-t2 .es1_doors.es1 .skidka-7day-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 767px) {
  .wrap-geo.shar-t2 .es1_doors.es1 .skidka-7day-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.wrap-geo.shar-t2 .es1_doors.es1 .skidka-7day-wrapper .skidka-7day {
  background-repeat: no-repeat;
  background-image: url(../img/skidka-7day-bg.png);
  width: 246px;
  height: 65px;
  font-weight: bold;
  color: #000000;
  padding-left: 21px;
}

@media only screen and (max-width: 767px) {
  .wrap-geo.shar-t2 .es1_doors.es1 .skidka-7day-wrapper .skidka-7day {
    width: 230px;
  }
}

.wrap-geo.shar-t2 .es1_doors.es1 .skidka-7day-wrapper .skidka-7day div {
  font-size: 36px;
  line-height: 44px;
}

@media only screen and (max-width: 767px) {
  .wrap-geo.shar-t2 .es1_doors.es1 .skidka-7day-wrapper .skidka-7day div {
    font-size: 32px;
    line-height: 41px;
  }
}

.wrap-geo.shar-t2 .es1_doors.es1 .skidka-7day-wrapper .skidka-7day p {
  font-size: 18.5px;
  line-height: 1;
}

.wrap-geo.shar-t2 .es1_doors.es1 .skidka-7day-wrapper > p {
  color: #000;
  font-weight: bold;
  font-size: 144px;
  line-height: 0.71;
  -webkit-transform: translateX(-52px);
          transform: translateX(-52px);
}

@media only screen and (max-width: 767px) {
  .wrap-geo.shar-t2 .es1_doors.es1 .skidka-7day-wrapper > p {
    font-size: 100px;
    -webkit-transform: translateX(-41px);
            transform: translateX(-41px);
  }
}

.wrap-geo.shar-t2 .es1_doors.es1 .b-top__zamer {
  position: absolute;
  bottom: -63px;
  right: -5px;
  color: #fff;
}

@media only screen and (max-width: 992px) {
  .wrap-geo.shar-t2 .es1_doors.es1 .b-top__zamer {
    bottom: 163px;
    right: 49px;
  }
}

@media only screen and (max-width: 767px) {
  .wrap-geo.shar-t2 .es1_doors.es1 .b-top__zamer {
    position: static;
    margin-bottom: 0px;
    margin: 21px auto 0;
  }
}

.wrap-geo.shar-t2 .es1_doors.es1 .b-top__zamer .b-top__zamer_ruler {
  background-image: url(../img/kalcylator.png);
  width: 63px;
  height: 75px;
  margin-left: 9px;
  margin-top: -4px;
}

.wrap-geo.shar-t2 .es1_doors.es1 .b-top__zamer .b-top__zamer_txt {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}

.wrap-geo.shar-t2 .es1_doors.es1 .b-top__zamer .b-top__zamer_txt span {
  font-size: 28px;
  line-height: 34px;
}

@media only screen and (max-width: 767px) {
  .wrap-geo.shar-t2 .es1_doors.es1 .b-top__zamer .b-top__zamer_txt span {
    font-size: 25px;
    line-height: 26px;
  }
}

.wrap-geo.shar-t2 .es1_doors.es1 .b-top__zamer.block-calculate {
  position: static;
  background: -webkit-gradient(linear, left top, left bottom, from(#DD0053), to(#A4164A));
  background: linear-gradient(180deg, #DD0053 0%, #A4164A 100%);
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 70px;
}

.wrap-geo.shar-t2 .es1_doors.es1 .b-top__zamer.block-calculate .b-top__zamer_txt {
  color: #fff;
}

.wrap-geo.shar-t2 .es1_doors.es1 .b-top__zamer.block-ruletki {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFD054), to(#F2AD27));
  background: linear-gradient(180deg, #FFD054 0%, #F2AD27 100%);
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.wrap-geo.shar-t2 .es1_doors.es1 .b-top__zamer.block-ruletki .b-top__zamer_ruler {
  width: 96px;
  height: 78px;
  background: url(../img/es1_ruler.png) no-repeat center center;
  margin-left: -14px;
  margin-top: auto;
}

.wrap-geo.shar-t2 .es1_doors.es1 .b-top__zamer.block-ruletki .b-top__zamer_txt {
  color: #000;
}

.wrap-geo.shar-t2 .geo-cont {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 712px;
  min-height: 551px;
  width: 51%;
  height: 69%;
  background-image: url(../img/shar-t2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 100%;
  background-position-x: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.b-raschet-okna {
  background-color: #FBC035;
  margin-bottom: 40px;
}

.b-raschet-okna .h2,
.b-raschet-okna .b-form_lbl,
.b-raschet-okna .b-form_ravno {
  color: #000;
  font-weight: 500;
}

.b-raschet-okna .h2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
}

.b-raschet-okna .b-raschet__ttl1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}

.b-raschet-okna .b-raschet__ttl1 strong {
  font-weight: bold;
}

.b-raschet-okna .b-form__item span {
  color: #000;
  font-weight: 500;
}

.b-raschet-okna .b-form__item .b-form__field::after {
  line-height: 29px;
  font-size: 24px;
  top: 9px;
  content: "м²";
}

.b-raschet-okna .b-form__item .b-form__field input {
  height: 50px;
  width: 166px;
  padding-right: 43px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.b-raschet-okna .b-form__block .b-form__item span {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.b-raschet-okna .b-form__block .b-form__item a {
  background: -webkit-gradient(linear, left top, left bottom, from(#1B809D), to(#015B77));
  background: linear-gradient(180deg, #1B809D 0%, #015B77 100%);
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

.b-raschet-okna .b-form__item .b-form_newprice span {
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  color: #DD0053;
  display: inline;
}

.okna-temp .wrap-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.okna-temp .wrap-flex .item {
  margin-bottom: 40px;
}

.okna-temp .wrap-flex p {
  max-width: 176px;
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, from(#A3003D), color-stop(76.19%, #E21F69));
  background: linear-gradient(180deg, #A3003D 0%, #E21F69 76.19%);
  border-radius: 20px;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  text-align: center;
  margin: 10px auto 0;
  color: #FFFFFF;
  position: relative;
}

.okna-temp .wrap-flex p::before {
  content: "";
  position: absolute;
  top: -13px;
  left: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 13px 5px;
  border-color: transparent transparent #A3003D transparent;
}

.es7_balcons-t1 {
  font-weight: 500;
}

.es7_balcons-t1 .h2 {
  margin-bottom: 18px;
}

.es7_balcons-t1 .h2 + p {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin-bottom: 40px;
}
/*# sourceMappingURL=main.css.map */